.App {
    font-family: sans-serif;
    text-align: center;
  }
  button {
    border: 1px solid rgb(2, 89, 224);
    background: rgb(2, 89, 224);
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    border-radius: 0.367rem;
    cursor: pointer;
  }
  button:hover {
    background: #02337e;
  }
  
  button:focus,
  button:active {
    background: rgb(2, 89, 224);
    outline-offset: 5px;
    outline-color: rgb(2, 89, 224);
  }
  
  span {
    font-weight: 700;
    text-transform: uppercase;
    color: inherit;
  }
  
  .light {
    margin: 4rem 10rem;
    padding: 4rem;
    background: rgb(226, 223, 223);
    border: 1px solid rgb(2, 89, 224);
  }
  
  .dark {
    margin: 4rem 10rem;
    padding: 4rem;
    background: rgb(48, 47, 47);
    border: 1px solid rgb(2, 89, 224);
    color: #fff;
  }
  